<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flow Report</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        .button-container {
            text-align: center;
        }

        .navigation-button {
            margin: 10px;
            padding: 10px 20px;
            font-size: 16px;
        }
    </style>
</head>
<body>

    <div class="button-container">
        <button class="navigation-button" onclick="navigateToPage('report_kch')">KCH Flow Report</button>
        <br>
        <button class="navigation-button" onclick="navigateToPage('report_two')">Main Flow Report</button>
    </div>

    <script>
        function navigateToPage(page) {
            window.location.href = page;
        }
    </script>

</body>
</html>
