<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flow Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <form id="flowData">
        <label for="kchPrev">KCH Outflow Prev Day:</label>
        <input type="number" id="kchPrev" name="kchPrev" value="{{ dataPrev[0] }}">

        <label for="kchCurr">KCH Outflow Curr Day:</label>
        <input type="number" id="kchCurr" name="kchCurr" value="{{ dataPrev[1] }}">

        <label for="ecInPrev">EC Inflow Prev Day:</label>
        <input type="number" id="ecInPrev" name="ecInPrev" value="{{ dataPrev[2] }}">

        <label for="ecInCurr">EC Inflow Curr Day:</label>
        <input type="number" id="ecInCurr" name="ecInCurr" value="{{ dataPrev[3] }}">

        <label for="ecOutPrev">EC Outflow Prev Day:</label>
        <input type="number" id="ecOutPrev" name="ecOutPrev" value="{{ dataPrev[4] }}">

        <label for="ecOutCurr">EC Outflow Curr Day:</label>
        <input type="number" id="ecOutCurr" name="ecOutCurr" value="{{ dataPrev[5] }}">

        <label for="tankPrev">Prev Day Tank Level:</label>
        <input type="number" id="tankPrev" name="tankPrev" value="{{ dataPrev[6] }}">

        <label for="tankCurr">Curr Day Tank Level:</label>
        <input type="number" id="tankCurr" name="tankCurr" value="{{ dataPrev[7] }}">

        <!-- <button onclick="generateReport()">Generate</button> -->
        <button type="button" onclick="submitForm()">Generate</button>
        <button type="button" onclick="resetInputs()">Reset</button>
        <button type="button" onclick="copyToClipboard()">Copy</button>
        <button type="button" onclick="exportExcel()">Export</button>
    </form>

    <p id="flowReport"></p>

    <script>

        function exportExcel() {
            window.location.href = "{{ url_for('export_kch') }}";
        }

        function generateReport() {
            var kchPrev = document.getElementById("kchPrev").value;
            var kchCurr = document.getElementById("kchCurr").value;
            var ecInPrev = document.getElementById("ecInPrev").value;
            var ecInCurr = document.getElementById("ecInCurr").value;
            var ecOutPrev = document.getElementById("ecOutPrev").value;
            var ecOutCurr = document.getElementById("ecOutCurr").value;
            var tankPrev = document.getElementById("tankPrev").value;
            var tankCurr = document.getElementById("tankCurr").value;

            var date = new Date();
            var yesterday = new Date(date);
            yesterday.setDate(date.getDate() - 1);
            var formattedDate = ('0' + yesterday.getDate()).slice(-2) + '/' + ('0' + (yesterday.getMonth() + 1)).slice(-2) + '/' + yesterday.getFullYear();

            var today = new Date();
            var formattedToday = ('0' + today.getDate()).slice(-2) + '/' + ('0' + (today.getMonth() + 1)).slice(-2) + '/' + today.getFullYear();

            var kchOutflow = "KCH outflow to EC <br>" + formattedDate + " : " + kchPrev + "<br>" +
                formattedToday + " : " + kchCurr + "<br>Total MLD    : " + (kchCurr - kchPrev) / 1000;

            var ecInflow = "Electronic City Inflow <br>" + formattedDate + " : " + ecInPrev + "<br>" +
                formattedToday + " : " + ecInCurr + "<br>Total MLD    : " + (ecInCurr - ecInPrev) / 1000;

            var ecOutflow = "Electronic City Outflow <br>" + formattedDate + " : " + ecOutPrev + "<br>" +
                formattedToday + " : " + ecOutCurr + "<br>Total MLD    : " + (ecOutCurr - ecOutPrev) / 1000;

            var tankLevelPrevMld = tankPrev * 1.2
            var tankLevelCurrMld = tankCurr * 1.2
            var tankLevelDiffMld = tankLevelCurrMld - tankLevelPrevMld
            var tankLevelIncreased = (tankLevelDiffMld >= 0) ? "Increase" : "Decrease"
            var tankLevel = "Previous day tank level: <br>" +
                tankPrev + "m (" + tankPrev + " * 1.2 = " + tankLevelPrevMld +
                ")<br>Present day tank level: <br>" +
                tankCurr + "m (" + tankCurr + " * 1.2 = " + tankLevelCurrMld +
                ")<br>" + tankLevelIncreased + " in tank level: <br>" +
                tankLevelCurrMld + " - " + tankLevelPrevMld + " = " + (tankLevelDiffMld) + " MLD";

            var report = "Electronic City<br><br>" + kchOutflow + "<br><br>" + ecInflow + "<br><br>" + ecOutflow + "<br><br>" + tankLevel;

            document.getElementById("flowReport").innerHTML = report;
        }

        function resetInputs() {
            var form = document.getElementById("flowData");
            var inputElements = form.querySelectorAll("input")
            inputElements.forEach(function (input) {
                input.value = "";
            });

            document.getElementById("flowReport").innerHTML = "";
        }

        function copyToClipboard() {
            var textToCopy = document.getElementById("flowReport").innerText;

            // Attempt using navigator.clipboard.writeText method
            if (navigator.clipboard && navigator.clipboard.writeText) {
                navigator.clipboard.writeText(textToCopy)
                    .then(function () {
                        alert("Text copied to clipboard");
                    })
                    .catch(function (error) {
                        console.error("Unable to copy text: ", error);
                        // Fallback to execCommand for older browsers or if clipboard API fails
                        fallbackCopyTextToClipboard(textToCopy);
                    });
            } else {
                // Fallback to execCommand for older browsers
                fallbackCopyTextToClipboard(textToCopy);
            }
        }

        function fallbackCopyTextToClipboard(text) {
            var textArea = document.createElement("textarea");
            textArea.value = text;
            document.body.appendChild(textArea);
            textArea.select();
            document.execCommand("copy");
            document.body.removeChild(textArea);
            alert("Text copied to clipboard");
        }

        function submitForm() {
            // Get form data
            var formData = new FormData(document.getElementById("flowData"));

            // Perform asynchronous form submission using Fetch API
            fetch('/submit_kch', {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.text();
                })
                .then(data => {
                    // Handle success response
                    var flowReport = document.getElementById("flowReport");
                    flowReport.innerHTML = data.replace(/\n/g, '<br>')
                    console.log(data);
                })
                .catch(error => {
                    // Handle error
                    console.error('There was a problem with the fetch operation:', error);
                });
        }

    </script>

</body>

</html>