<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flow Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <form id="flowData">
        <!-- Main Flow at KCH GLR -->
        <label for="mainPrev">Prev Day Main Flow at KCH GLR:</label>
        <input type="number" id="mainPrev" name="mainPrev" value="{{ dataPrev[0] }}">

        <label for="mainCurr">Curr Day Main Flow at KCH GLR:</label>
        <input type="number" id="mainCurr" name="mainCurr" value="{{ dataPrev[1] }}">

        <!-- Inlet to KCH GLR Tank -->
        <label for="kchPrev">Prev Day Inlet to KCH GLR Tank:</label>
        <input type="number" id="kchPrev" name="kchPrev" value="{{ dataPrev[2] }}">

        <label for="kchCurr">Curr Day Inlet to KCH GLR Tank:</label>
        <input type="number" id="kchCurr" name="kchCurr" value="{{ dataPrev[3] }}">

        <!-- Electronic City Reading -->
        <label for="ecPrev">Prev Day Electronic City Reading:</label>
        <input type="number" id="ecPrev" name="ecPrev" value="{{ dataPrev[4] }}">

        <label for="ecCurr">Curr Day Electronic City Reading:</label>
        <input type="number" id="ecCurr" name="ecCurr" value="{{ dataPrev[5] }}">

        <!-- Vijaya Bank Reading -->
        <label for="vblPrev">Prev Day Vijaya Bank Reading:</label>
        <input type="number" id="vblPrev" name="vblPrev" value="{{ dataPrev[6] }}">

        <label for="vblCurr">Curr Day Vijaya Bank Reading:</label>
        <input type="number" id="vblCurr" name="vblCurr" value="{{ dataPrev[7] }}">

        <!-- Tank Level -->
        <label for="tankPrev">Prev Day Tank Level:</label>
        <input type="number" id="tankPrev" name="tankPrev" value="{{ dataPrev[8] }}">

        <label for="tankCurr">Curr Day Tank Level:</label>
        <input type="number" id="tankCurr" name="tankCurr" value="{{ dataPrev[9] }}">

        <!-- DLF Road Reading -->
        <label for="dlfPrev">Prev Day DLF Road Reading:</label>
        <input type="number" id="dlfPrev" name="dlfPrev" value="{{ dataPrev[10] }}">

        <label for="dlfCurr">Curr Day DLF Road Reading:</label>
        <input type="number" id="dlfCurr" name="dlfCurr" value="{{ dataPrev[11] }}">

        <button type="button" onclick="submitForm()">Generate</button>
        <button type="button" onclick="resetInputs()">Reset</button>
        <button type="button" onclick="copyToClipboard()">Copy</button>
        <button type="button" onclick="exportExcel()">Export</button>
    </form>

    <p id="flowReport"></p>

    <script>

        function exportExcel() {
            window.location.href = "{{ url_for('export_two') }}";
        }

        function resetInputs() {
            var form = document.getElementById("flowData");
            var inputElements = form.querySelectorAll("input")
            inputElements.forEach(function (input) {
                input.value = "";
            });

            document.getElementById("flowReport").innerHTML = "";
        }

        function copyToClipboard() {
            var textToCopy = document.getElementById("flowReport").innerText;

            // Attempt using navigator.clipboard.writeText method
            if (navigator.clipboard && navigator.clipboard.writeText) {
                navigator.clipboard.writeText(textToCopy)
                    .then(function () {
                        alert("Text copied to clipboard");
                    })
                    .catch(function (error) {
                        console.error("Unable to copy text: ", error);
                        // Fallback to execCommand for older browsers or if clipboard API fails
                        fallbackCopyTextToClipboard(textToCopy);
                    });
            } else {
                // Fallback to execCommand for older browsers
                fallbackCopyTextToClipboard(textToCopy);
            }
        }

        function fallbackCopyTextToClipboard(text) {
            var textArea = document.createElement("textarea");
            textArea.value = text;
            document.body.appendChild(textArea);
            textArea.select();
            document.execCommand("copy");
            document.body.removeChild(textArea);
            alert("Text copied to clipboard");
        }

        function submitForm() {
            // Get form data
            var formData = new FormData(document.getElementById("flowData"));

            // Perform asynchronous form submission using Fetch API
            fetch('/submit_two', {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.text();
                })
                .then(data => {
                    // Handle success response
                    var flowReport = document.getElementById("flowReport");
                    flowReport.innerHTML = data.replace(/\n/g, '<br>')
                    console.log(data);
                })
                .catch(error => {
                    // Handle error
                    console.error('There was a problem with the fetch operation:', error);
                });
        }

    </script>

</body>

</html>