<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flow Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <form id="myForm">
        <input type="number" id="kchPrev" name="kchPrev" placeholder="KCH Outflow Prev Day">
        <input type="number" id="kchCurr" name="kchCurr" placeholder="KCH Outflow Curr Day">
        <input type="number" id="ecInPrev" name="ecInPrev" placeholder="EC Inflow Prev Day">
        <input type="number" id="ecInCurr" name="ecInCurr" placeholder="EC Inflow Curr Day">
        <input type="number" id="ecOutPrev" name="ecOutPrev" placeholder="EC Outflow Prev Day">
        <input type="number" id="ecOutCurr" name="ecOutCurr" placeholder="EC Outflow Curr Day">
        <input type="number" id="tankPrev" name="tankPrev" placeholder="Prev Day Tank Level">
        <input type="number" id="tankCurr" name="tankCurr" placeholder="Curr Day Tank Level">

        <!-- <button onclick="generateReport()">Generate</button> -->
        <button type="button" onclick="submitForm()">Generate</button>
        <button type="button" onclick="resetInputs()">Reset</button>
        <button type="button" onclick="copyToClipboard()">Copy</button>
    </form>

    <p id="displayParagraph"></p>

    <script>

        function generateReport() {
            var kchPrev = document.getElementById("kchPrev").value;
            var kchCurr = document.getElementById("kchCurr").value;
            var ecInPrev = document.getElementById("ecInPrev").value;
            var ecInCurr = document.getElementById("ecInCurr").value;
            var ecOutPrev = document.getElementById("ecOutPrev").value;
            var ecOutCurr = document.getElementById("ecOutCurr").value;
            var tankPrev = document.getElementById("tankPrev").value;
            var tankCurr = document.getElementById("tankCurr").value;

            var date = new Date();
            var yesterday = new Date(date);
            yesterday.setDate(date.getDate() - 1);
            var formattedDate = ('0' + yesterday.getDate()).slice(-2) + '/' + ('0' + (yesterday.getMonth() + 1)).slice(-2) + '/' + yesterday.getFullYear();

            var today = new Date();
            var formattedToday = ('0' + today.getDate()).slice(-2) + '/' + ('0' + (today.getMonth() + 1)).slice(-2) + '/' + today.getFullYear();

            var kchOutflow = "KCH outflow to EC <br>" + formattedDate + " : " + kchPrev + "<br>" +
                formattedToday + " : " + kchCurr + "<br>Total MLD    : " + (kchCurr - kchPrev) / 1000;

            var ecInflow = "Electronic City Inflow <br>" + formattedDate + " : " + ecInPrev + "<br>" +
                formattedToday + " : " + ecInCurr + "<br>Total MLD    : " + (ecInCurr - ecInPrev) / 1000;

            var ecOutflow = "Electronic City Outflow <br>" + formattedDate + " : " + ecOutPrev + "<br>" +
                formattedToday + " : " + ecOutCurr + "<br>Total MLD    : " + (ecOutCurr - ecOutPrev) / 1000;

            var tankLevelPrevMld = tankPrev * 1.2
            var tankLevelCurrMld = tankCurr * 1.2
            var tankLevelDiffMld = tankLevelCurrMld - tankLevelPrevMld
            var tankLevelIncreased = (tankLevelDiffMld >= 0) ? "Increase" : "Decrease"
            var tankLevel = "Previous day tank level: <br>" +
                tankPrev + "m (" + tankPrev + " * 1.2 = " + tankLevelPrevMld +
                ")<br>Present day tank level: <br>" +
                tankCurr + "m (" + tankCurr + " * 1.2 = " + tankLevelCurrMld +
                ")<br>" + tankLevelIncreased + " in tank level: <br>" +
                tankLevelCurrMld + " - " + tankLevelPrevMld + " = " + (tankLevelDiffMld) + " MLD";

            var report = "Electronic City<br><br>" + kchOutflow + "<br><br>" + ecInflow + "<br><br>" + ecOutflow + "<br><br>" + tankLevel;

            document.getElementById("displayParagraph").innerHTML = report;
        }

        function resetInputs() {
            for (var i = 1; i <= 8; i++) {
                document.getElementById("input" + i).value = "";
            }
            document.getElementById("displayParagraph").innerHTML = "";
        }

        function copyToClipboard() {
            var textToCopy = document.getElementById("displayParagraph").innerText;

            // Attempt using navigator.clipboard.writeText method
            if (navigator.clipboard && navigator.clipboard.writeText) {
                navigator.clipboard.writeText(textToCopy)
                    .then(function () {
                        alert("Text copied to clipboard");
                    })
                    .catch(function (error) {
                        console.error("Unable to copy text: ", error);
                        // Fallback to execCommand for older browsers or if clipboard API fails
                        fallbackCopyTextToClipboard(textToCopy);
                    });
            } else {
                // Fallback to execCommand for older browsers
                fallbackCopyTextToClipboard(textToCopy);
            }
        }

        function fallbackCopyTextToClipboard(text) {
            var textArea = document.createElement("textarea");
            textArea.value = text;
            document.body.appendChild(textArea);
            textArea.select();
            document.execCommand("copy");
            document.body.removeChild(textArea);
            alert("Text copied to clipboard");
        }

        function submitForm() {
            // Get form data
            var formData = new FormData(document.getElementById("myForm"));

            // Perform asynchronous form submission using Fetch API
            fetch('/submit_kch', {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.text();
                })
                .then(data => {
                    // Handle success response
                    var displayParagraph = document.getElementById("displayParagraph");
                    displayParagraph.innerHTML = data.replace(/\n/g, '<br>')
                    console.log(data);
                })
                .catch(error => {
                    // Handle error
                    console.error('There was a problem with the fetch operation:', error);
                });
        }

    </script>

</body>

</html>